<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!-- Configuraciones requeridas por Arcano -->
  <appSettings>
    <!-- Version actual del software -->
    <add key="VersionActual" value="v0.2"/>
    <!-- CAMPOS DE VERIFICACION -->
    <!-- Acceder a la linea de comandos CMD.EXE -->
    <add key="CMD" value="false" />
    <!-- Ruta de CMD.EXE -->
    <add key="RutaCMD" value="C:\Windows\System32\cmd.exe" />
    <!-- Acceder a ArcanoCore.exe -->
    <add key="ArcanoCore" value="false" />
    <!-- Ruta de ArcanoCore.exe -->
    <add key="RutaArcanoCore" value="\core\ArcanoCore.exe" />
    <!-- Acceder al archivo CSV -->
    <add key="CSV" value="false" />
    <!-- Ruta del archivo CSV -->
    <add key="RutaCSV" value="\archivo.csv" />
    <!-- Caracter separador del archivo .CSV -->
    <add key="CaracterCSV" value="," />
    <!-- IDIOMAS -->
    <!-- Idioma actual -->
    <add key="IdiomaActual" value="Español" />
    <!-- Lista de idiomas -->
    <add key="Idiomas" value="Español, English" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>